<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758403070081-dv7k4m9n1mso4ul05s47hfqrjm1c242t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758403070081-dv7k4m9n1mso4ul05s47hfqrjm1c242t</string>
	<key>API_KEY</key>
	<string>AIzaSyD0zFa5U4R0qZHVZ6riPYYzjYzr4gsKZqE</string>
	<key>GCM_SENDER_ID</key>
	<string>758403070081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.itesm.CetacApp</string>
	<key>PROJECT_ID</key>
	<string>cetac-app-37902</string>
	<key>STORAGE_BUCKET</key>
	<string>cetac-app-37902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758403070081:ios:1182449ad68ee762f03580</string>
</dict>
</plist>